 
 
// fuentes
$fuentePrincipal : 'Roboto Condensed', sans-serif;

// Media Queries
$telefono: 480px;
$tablet  : 768px;
$desktop : 1200px;

// Colores  ... https://coolors.co/190b28-685762-9b9987-efa9ae
/// https://colorhunt.co/palettes/orange
// Paleta principal
$blanco          : #FFFFFF;
$negro           : #000000;
$Color_Principal : #EF233C;  // EF233C,   
$Color_Secundario: #E8EBF7;
$Color_Terciario : #ACBED8;
$Color_Alterno   : #F2D398;
$Color_Alterno_1 : #DE1A1A;
$Color_Alterno_2 : #266DD3;
$Color_Alterno_3 : #3F84E5;


 
 
 
 
 
 


$radius : 5px;